<nav *ngIf="pageInfo != null && pageInfo.totalPages > 1" aria-label="Categories Navigation" class="d-flex p-0 justify-content-end">
  <ul class="pagination">

    <li class="page-item">
      <button (click)="previous()" [disabled]="pageInfo.pagesSpace.length < pageInfo.PAGINATOR_SIZE || pageInfo.pagesSpace[0] === 1"
              class="btn btn-default" aria-label="Anterior">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>

    <li *ngFor="let pageNum of pageInfo.pagesSpace" [ngClass]="{'page-item': true, 'active': pageNum === pageInfo.currentPage}"><button (click)="clickPage.emit(pageNum)" class="page-link btn btn-default">{{ pageNum }}</button></li>

    <li class="page-item">
      <button (click)="next()" [disabled]="pageInfo.pagesSpace.length < pageInfo.PAGINATOR_SIZE || pageInfo.pagesSpace[pageInfo.pagesSpace.length - 1] === pageInfo.totalPages"
              class="btn btn-default" aria-label="Siguiente">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>

  </ul>
</nav>
