
<div class="row pt-3">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

    <div class="p-field mt-4">
      <span class="p-float-label">
        <input [(ngModel)]="searchText" pInputText type="text" id="name" class="p-inputtext-sm">
        <label for="name">Nombre</label>
      </span>
    </div>

    <div class="p-field mt-4">
      <span class="p-float-label">
        <p-dropdown inputId="category" class="p-inputtext-sm" [options]="categories" [(ngModel)]="category" [autoDisplayFirst]="false" optionLabel="name" [showClear]="true"></p-dropdown>
      <label for="category">Categor&iacute;a</label>
      </span>
    </div>

    <div class="mt-4">
      <label>Ubicaci&oacute;n</label>&nbsp;
      <button (click)="onSelectLocation(locationModalTemplate)" pButton icon="pi pi-map-marker" class="p-button-sm p-button-raised" type="button"></button>
      <button *ngIf="location.formattedAddress !== null" (click)="clearLocation()" type="button" pButton pRipple icon="pi pi-times" class="p-button-raised p-button-danger p-button-sm"></button>
      <p *ngIf="location.formattedAddress !== null">{{ location.formattedAddress }}</p>
    </div>
    <div class="col-12 d-flex justify-content-center mt-4">
      <button (click)="onFiltrar()" [disabled]="searchingProducts" pButton icon="pi pi-filter" label="Filtrar" type="button" class="p-button-sm p-button-raised"></button>
    </div>

  </div>
  <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">

  </div>
</div>

<ng-template #locationModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Selecciona la ubicaci&oacute;n</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="locationModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-select-location (onLocationSelected)="onLocationSelected($event)"
                         [latitude]="location.latitude" [longitude]="location.longitude"></app-select-location>
  </div>
</ng-template>
