
.product-item {
  max-width: 350px;
  padding: 0;
  cursor: pointer;
}

.product-item:hover {
  transform: scale(1.02,1.02);
}

.product-item .product-item-content {
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(44, 51, 73, 0.4);
}

.product-item .product-image {
  width: 100%;
  border-radius: 0.25rem;
}

.filtro-title {
  font-size: 1rem;
}

.filtro-ubicacion {
  font-size: 0.75rem;
}
