
<div class="row pt-3 pb-3">

  <div class="col-12">
    <h2 class="pantalla-title">Art&iacute;culos disponibles</h2>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <h3 class="filtro-title">B&uacute;squeda</h3>
    <div class="p-field mt-4">
      <span class="p-float-label">
        <input [(ngModel)]="filter.name" pInputText type="text" id="name" class="p-inputtext-sm w-100">
        <label for="name">Nombre</label>
      </span>
    </div>

    <div class="p-field mt-4">
      <span class="p-float-label">
        <p-dropdown inputId="category" class="p-inputtext-sm" [options]="categories" [(ngModel)]="category" [autoDisplayFirst]="false" optionLabel="name" [showClear]="true" styleClass="w-100"></p-dropdown>
        <label for="category">Categor&iacute;a</label>
      </span>
    </div>

    <div class="mt-2 d-flex flex-column">
      <div class="d-flex">
        <button (click)="onSelectLocation(locationModalTemplate)" pButton label="Ubicaci&oacute;n" icon="pi pi-map-marker" class="p-button-sm p-button-raised flex-fill" type="button"></button>
        <button *ngIf="location.formattedAddress !== null" (click)="clearLocation()" type="button" pButton pRipple icon="pi pi-times" class="p-button-raised p-button-danger p-button-sm"></button>
      </div>
      <p *ngIf="location.formattedAddress !== null" class="filtro-ubicacion mt-1 mb-1">{{ location.formattedAddress }}</p>
      <div *ngIf="location.formattedAddress !== null" class="p-field mt-4">
        <span class="p-float-label">
          <input disabled="true" type="text" pInputText [(ngModel)]="distance" class="w-100"/>
          <label>Distancia</label>
        </span>
        <p-slider [(ngModel)]="distance" [min]="10" [max]="180"></p-slider>
      </div>

    </div>
    <div class="d-flex flex-column mt-3">
      <button (click)="onFiltrar()" [disabled]="searchingProducts" pButton icon="pi pi-filter" label="Filtrar" type="button" class="p-button-sm p-button-raised"></button>
    </div>

  </div>

  <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10 mt-3 mt-md-0">
    <div class="d-flex flex-wrap justify-content-center align-items-center align-content-center" style="gap: 20px">

      <div *ngIf="searchingProducts" class="d-flex flex-column align-items-center justify-content-center mt-5">
        <p-progressSpinner></p-progressSpinner>
      </div>

      <ng-container *ngIf="!searchingProducts">
        <div *ngFor="let product of products" [routerLink]="['/articulos/detalle/', product.id]" class="product-item d-flex flex-column align-self-stretch align-items-center" style="gap: 10px">

          <div class="img-wrapper d-flex justify-content-center align-items-center mt-3">
            <img (load)="imgLoaded($event)" [src]="product.pictures[0].pictureContent" [alt]="product.name" class="product-image" />
          </div>

          <div class="product-item-content d-flex flex-column align-items-center flex-fill mt-0 w-100" style="gap: 10px;">
              <p class="product-name">{{ product.name }}</p>
              <div class="d-flex justify-content-center">
                <p class="product-cost p-mt-0 p-mb-3 text-center">{{product.costPerDay|currency}}<ng-container *ngIf="product.distanceInKm || product.distanceInKm === 0">&nbsp;|&nbsp;{{ product.distanceInKm|number:'1.0-2' }}&nbsp;Km</ng-container></p>
<!--                <p *ngIf="product.distanceInKm || product.distanceInKm === 0" class="m-0 mt-1 p-0 product-distance">{{ product.distanceInKm }}&nbsp;Km</p>-->
              </div>

          </div>
        </div>
        <p-paginator *ngIf="pageInfo !== null"
                     [rows]="PAGE_SIZE"
                     [totalRecords]="pageInfo.totalCount"
                     [alwaysShow]="false"
                     (onPageChange)="loadProducts(PAGE_SIZE, $event.page + 1)"></p-paginator>
      </ng-container>

      <p *ngIf="products.length === 0 && !searchingProducts" class="text-center">No se encontraron art&iacute;culos</p>
  </div>
</div>

<ng-template #locationModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Selecciona la ubicaci&oacute;n</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="locationModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-select-location (onLocationSelected)="onLocationSelected($event)"
                         [latitude]="location.latitude" [longitude]="location.longitude"></app-select-location>
  </div>
</ng-template>
