
.product-pictures-container, .product-info, .product-location {
  box-shadow: #333333 0 0 3px;
}

::ng-deep .owner-info .p-rating .p-rating-icon {
    font-size: 0.9rem;
}

.product-info, .product-location {
  padding: 0.5rem;
  border-radius: 3px 3px;
}

.product-info .product-name {
  font-size: 1.5rem;
  border-bottom: #e9ecef solid 1px;
}

.product-info .product-description {
  padding: 0;
  margin: 0;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.product-cost-container {
  margin: 0;
}

.product-cost-container .product-cost {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.product-location {

}

.product-location h3 {
  font-size: 0.95rem;
}

.product-location img {
  width: 100%;
}


.product-location p {
  font-size: 0.70rem;
  text-align: right;
  padding: 0;
  margin: 0;
}

.rent-date-modal {
  width: 70vw;
}

.select-date-container {
  /*width: 7rem;
  height: 7rem;*/
}

.fecha-renta-chooser {

}

::ng-deep .p-calendar .p-datepicker-calendar-container .p-datepicker-calendar {

}

::ng-deep .p-calendar .p-datepicker .p-datepicker-group th, ::ng-deep .p-calendar .p-datepicker .p-datepicker-group td {
  width: 1.7rem;
}

::ng-deep .p-calendar .p-datepicker .p-datepicker-group th span, ::ng-deep .p-calendar .p-datepicker .p-datepicker-group td span {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

::ng-deep .p-calendar .p-datepicker {

}



@media only screen and(min-width: 768px) {

  .rent-date-modal {
    width: 50vw;
  }

}
