
<div *ngIf="loadingProduct" class="d-flex flex-column justify-content-center w-100 mt-3">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="product !== null && !loadingProduct" class="container-fluid product-container">
  <div class="row mt-3 mb-3">
    <div class="col-12 col-md-8 p-0">

      <div class="product-pictures-container">
        <p-galleria [(value)]="product.pictures" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '1280px'}" [numVisible]="5"
                    [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="false" [showItemNavigatorsOnHover]="true"
                    [showIndicatorsOnItem]="true">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.pictureContent" style="width: 100%; display: block;" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
              <img [src]="item.pictureContent" style="display: block;" />
            </div>
          </ng-template>
        </p-galleria>
      </div>

      <div class="owner-info">
        <i class="pi pi-user"></i>&nbsp;
        <span>{{ product.owner.firstName + ' ' + product.owner.lastName }}</span>
      </div>

    </div>
    <div class="col-12 col-md-4 mt-2 mt-md-0 pr-0 pl-0 pl-md-2">

      <div class="product-info">
        <h2 class="pantalla-title product-name">{{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>
        <div class="d-flex justify-content-start align-items-stretch flex-wrap">
          <div class="product-cost-container pr-2">
            <p class="product-cost"><span>{{product.costPerDay|currency}}</span>/D&iacute;a</p>
          </div>
          <div *ngIf="product.costPerWeek !== null" class="product-cost-container pr-2">
            <p class="product-cost"><span>{{product.costPerWeek|currency}}</span>/Semana</p>
          </div>
          <div *ngIf="product.costPerMonth !== null" class="product-cost-container pr-2">
            <p class="product-cost"><span>{{product.costPerMonth|currency}}</span>/Mes</p>
          </div>
        </div>
      </div>

      <div class="product-location mt-2">
        <h3>Ubicaci&oacute;n</h3>
        <img src="https://maps.googleapis.com/maps/api/staticmap?markers=|{{product.location.latitude + ',' + product.location.longitude }}&language=es&size=540x216&zoom=16&scale=1&key=" alt="Ubicaci&oacute;n">
        <p>{{ product.location.city + ', ' + product.location.state }}</p>
      </div>

      <button (click)="showSelectDateModal()" [disabled]="isOwner()" pButton label="Rentar" type="button" class="p-button-raised p-button-info p-button-sm ml-auto mr-auto w-100 mt-2"></button>
      <button (click)="onMandarMensaje()" [disabled]="isOwner()" pButton label="Enviar mensaje" type="button" icon="pi pi-comments" class="p-button-raised p-button-info p-button-sm ml-auto mr-auto w-100 mt-2"></button>

    </div>
  </div>
</div>

<div *ngIf="notFound" class="container">
  <p class="text-center">No pudimos encontrar el producto que buscas</p>
</div>

<p-dialog header="Selecciona la fecha" [(visible)]="displaySelectDateModal" [modal]="true" [draggable]="false" [showHeader]="true" styleClass="rent-date-modal" [baseZIndex]="10000">
  <div class="select-date-container p-3">
    <p-calendar [(ngModel)]="rentDate" selectionMode="range" selectOtherMonths="true" [inline]="true" [required]="true" [minDate]="minDate" [maxDate]="maxDate" [locale]="esCalendarLocale" styleClass="fecha-renta-chooser"></p-calendar>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="onCreateRentRequest()" [disabled]="!isValidRentDate() || creatingRequest" icon="pi pi-check" label="Solicitar renta" styleClass="p-button-sm p-button-info p-button-raised"></p-button>
    <button (click)="cancelDateSelection()" [disabled]="creatingRequest" pButton label="Cancelar" icon="pi pi-times-circle" type="button" class="p-button-sm p-button-raised p-button-danger"></button>
  </ng-template>
</p-dialog>

<p-dialog [header]="messageModalTitle" [(visible)]="displayMessageModal" [modal]="true" [draggable]="false" [showHeader]="true" styleClass="" [baseZIndex]="10000">
  <div class="form-group">
    <textarea [(ngModel)]="firstMessage" class="form-control" id="firstMessage" cols="30" rows="5"></textarea>
  </div>
  <ng-template pTemplate="footer">
    <button (click)="closeMessageModal()" [disabled]="submittingMessage" pButton label="Cancelar" icon="pi pi-times-circle" type="button" class="p-button-sm p-button-raised p-button-danger"></button>
    <p-button (click)="onSubmitMessage()" [disabled]="!firstMessage || submittingMessage" icon="pi pi-check" label="Enviar" styleClass="p-button-sm p-button-info p-button-raised"></p-button>

  </ng-template>
</p-dialog>
