
<app-nav-menu></app-nav-menu>
<div *ngIf="showSpinner" class="container-fluid d-flex flex-column align-items-center justify-content-center" style="height: 80vh">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="!showSpinner" class="container-fluid" style="min-height: 83vh">
  <router-outlet></router-outlet>
</div>
<footer class="flex-column flex-md-row container-fluid bg-dark d-flex " style="min-height: 48px; gap: 5px;">
  <div class="m-0 p-0 flex-fill d-flex align-items-center justify-content-center justify-content-md-start">
    <p class="m-0 p-0" style="font-size: 0.9rem; color: #FFF;">contacto@rentasguatemala.com</p>
  </div>
  <div class="m-0 p-0 flex-fill d-flex align-items-center justify-content-center justify-content-md-end">
    <small class="text-light">&copy;&nbsp;2020&nbsp;Rentas Guatemala.&nbsp;Todos los derechos reservados.</small>
  </div>
</footer>
