<div *ngIf="loadingProducts" class="d-flex justify-content-center align-items-center w-100 mt-3" style="height: 95vh">
  <p-progressSpinner></p-progressSpinner>
</div>

<div *ngIf="!loadingProducts" class="row">

  <div *ngIf="currentUser && currentUser.profileStatus !== PROFILE_ACTIVE" class="d-flex flex-column align-items-center justify-content-center w-100" style="height: 70vh">
    <p class="text-center">No puedes agregar nuevos art&iacute;culos mientras tu cuenta no est&eacute; activa.</p>

  </div>

  <div *ngIf="products.length > 0"
       class="col-12">
    <div class="d-flex p-2" style="gap: 10px">
      <h2 class="pantalla-title p-0 m-0">Tus art&iacute;culos</h2>
      <div class="d-flex justify-content-end flex-fill flex-wrap" style="gap: 10px">
        <!-- <button [routerLink]="['/propietario/rentas']"
                mat-button type="button" class="">Ver rentas</button>
        <button [routerLink]="['/propietario/solicitudes']"
                mat-button type="button" class="">Solicitudes recibidas</button> -->
        <button [routerLink]="['nuevo']" [disabled]="currentUser && currentUser.profileStatus !== PROFILE_ACTIVE" mat-raised-button color="primary" icon="pi pi-plus" type="button" class="p-button-sm">Nuevo</button>
      </div>
    </div>

    <div class="p-orderlist-list-container">
      <ul class="p-orderlist-list" [ngStyle]="{'height':'auto'}">

        <li *ngFor="let product of products" [routerLink]="['/propietario/productos/detalle/', product.id]" class="p-orderlist-item">
          <div  class="product-item">
            <div class="image-container">
              <img src="{{ baseUrl + product.pictures[0].pictureContent}}" [alt]="product.name" class="product-image" />
            </div>
            <div class="product-list-detail">
              <p class="p-0 m-0 p-mb-2">{{ product.name }}</p>
            </div>
            <div class="product-list-action">
              <p class="p-0 m-0 p-mb-2">{{ product.costPerDay|currency }}</p>
              <span [class]="'product-badge status-'">{{ PRODUCT_STATES[product.status] }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <p-paginator *ngIf="pageInfo !== null"
                 [rows]="PAGE_SIZE"
                 [totalRecords]="pageInfo.totalCount"
                 [alwaysShow]="false"
                 (onPageChange)="loadProducts(PAGE_SIZE, $event.page + 1)"></p-paginator>

  </div>

    <div *ngIf="products.length <= 0 && currentUser && currentUser.profileStatus === PROFILE_ACTIVE" class="col-12 d-flex justify-content-center align-content-center" style="height: 70vh">
      <div class="noproducts-message-container">

        <p class="">A&uacute;n no has registrado art&iacute;culos.</p>
        <p>Pulsa el siguiente bot&oacute;n para registrar tu primer art&iacute;culo.</p>
        <button [routerLink]="['nuevo']" pButton pRipple icon="pi pi-plus" type="button" label="Agregar art&iacute;culo" class="p-button-rounded"></button>

      </div>
    </div>
</div>
