

<div class="row">

  <div class="col-12 col-md-6 col-lg-8">

    <div class="d-flex">
      <h4 class="flex-fill">Categor&iacute;as</h4>
      <div class="d-flex">

        <button [disabled]="selectedCategory == null"
                class="btn btn-default p-0">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>

        <button [disabled]="selectedCategory == null"
                (click)="showDeleteConfirmationModal()"
                class="btn btn-default p-0 ml-2">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>

      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripci&oacute;n</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let categ of categories" (click)="onCategoryClicked(categ)" [ngClass]="{'bg-info text-white': categ === selectedCategory}">
          <td>{{ categ.id }}</td>
          <td>{{ categ.name }}</td>
          <td>{{ categ.description | slice:0:128 }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <app-paginator-nav [pageInfo]="pageInfo" (clickPage)="loadCategories(PAGE_SIZE, $event)"></app-paginator-nav>

  </div>

  <div class="col-12 col-md-6 col-lg-4">

    <app-new-category (onNewCategorySaved)="onNewCategorySaved($event)"></app-new-category>

  </div>

</div>
