

<div class="row">

  <div class="col-12">

    <div class="d-flex">
      <h2 class="pantalla-title">Categor&iacute;as</h2>

      <div class="flex-fill d-flex justify-content-end align-items-center">

        <button (click)="onShowNewCategoryFormModal(newCategoryModalTemplate)"
                class="btn btn-default p-0">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>

        <button [disabled]="selectedCategory == null"
                (click)="onShowEditCategoryFormModal(editCategoryModalTemplate)"
                class="btn btn-default p-0 ml-2">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>

        <button [disabled]="selectedCategory == null"
                (click)="showDeleteConfirmationModal()"
                class="btn btn-default p-0 ml-2">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>

      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripci&oacute;n</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let categ of categories" (click)="onCategoryClicked(categ)" [ngClass]="{'bg-info text-white': categ === selectedCategory}">
          <td>{{ categ.id }}</td>
          <td>{{ categ.name }}</td>
          <td>{{ categ.description | slice:0:128 }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <app-paginator-nav [pageInfo]="pageInfo" (clickPage)="loadCategories(PAGE_SIZE, $event)"></app-paginator-nav>

  </div>

</div>

<ng-template #newCategoryModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nueva categor&iacute;a</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalNewCategoryRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-new-category (onNewCategorySaved)="onNewCategorySaved($event)"></app-new-category>
  </div>
</ng-template>

<ng-template #editCategoryModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modificar categor&iacute;a</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalEditCategoryRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-category [category]="selectedCategory" (onCategoryUpdated)="onCategoryUpdated($event)"></app-edit-category>
  </div>
</ng-template>
