/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.pantalla-title {
  font-size: 1.5rem;
}

.gold-color  {
  color: #FFEA00 !important;
}
.rentasgt-subtitle {
  font-size: 1.15rem !important;
  font-weight: bold;
}

.pac-container {
  z-index: 10000 !important;
}

agm-map {
  height: 250px;
}

.psmall {
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
}

.mat-dialog-panel .mat-dialog-container {
  padding: 1rem 1.3rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
