@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Verificacion de Correo";
}


<section class="login-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <div class="auth-box card">
                    <div class="card-block d-flex flex-column justify-content-center align-items-center" style="height: 80vh">

                        <div class="row w-100">
                            <div class="col-md-12" style="height: 64px;padding: 5px; display: flex; align-items: center; gap: 3px;">
                                <img src="https://rentasguatemala.com/assets/tag.png" style="height: 24px">
                                <h1 style="font-size: 1.4rem;color: #FF8D27; font-family: 'Barlow Condensed', sans-serif; font-weight: 700;">Rentas Guatemala</h1>
                            </div>
                            <div class="col-md-12">
                                <h3 class="text-center heading">&iexcl;Correo verificado exitosamente!</h3>
                            </div>
                            <div class="col-md-12">
                                <a href="/" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" title="Ir a Inicio">Ir a inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>