@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registro";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title">Asocia tu cuenta de @Model.ProviderDisplayName</h4>
<hr />

<p id="external-login-description" class="text-info">
    Has iniciado sesi&oacute;n con tu cuenta de <strong>@Model.ProviderDisplayName</strong>.
    Completa el formulario con tus datos y presiona el bot&oacute;n "Crear cuenta" para completar tu registro.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" disabled="disabled"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="Input.ProfilePicture"></label>
                <input asp-for="Input.ProfilePicture" class="form-control" />
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>*@

            <div class="form-row">
                <div class="col-6 form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="col-6 form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Crear cuenta</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
