<header>

  <nav class="d-flex flex-column flex-md-row">

    <div class="d-flex flex-fill align-items-center pl-2 pl-md-0">
      <div class="d-flex justify-content-center p-0 m-0" [routerLink]="['/']" style="min-width: 200px">
        <img src="/assets/tag.svg" style="width: 22px">
        <a class="logo">Rentas Guatemala</a>
      </div>
<!--      <p-button icon="pi pi-search" class="p-button-raised ml-0 ml-md-3 p-button-sm"></p-button>-->
      <div class="p-inputgroup flex-fill pl-3 pr-2 pr-md-0">
        <input [(ngModel)]="searchText" type="text" pInputText placeholder="Qu&eacute; buscas?" style="max-width: 520px">
        <button [routerLink]="['/articulos', {s: searchText}]" type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-warn"></button>
      </div>
    </div>

    <ul class="d-flex flex-fill justify-content-end align-items-stretch nav-list navbar-bottom-container">
      <li *ngIf="isModerador | async" (click)="onSubmenuClicked($event)" class="nav-list-item">
        <a class="nav-list-link">Moderador</a>
        <ul class="submenu">
          <li class="submenu-item"><a [routerLink]='["/moderador/usuarios"]' class="submenu-link">Usuarios</a></li>
          <li class="submenu-item"><a [routerLink]='["/moderador/conflictos"]' class="submenu-link">Conflictos</a></li>
        </ul>
      </li>
      <li *ngIf="isAdmin | async" (click)="onSubmenuClicked($event)" class="nav-list-item">
        <a class="nav-list-link">Admin</a>
        <ul class="submenu">
          <li class="submenu-item"><a [routerLink]='["/admin/reportes"]' class="submenu-link">Reportes</a></li>
          <li class="submenu-item"><a [routerLink]='["/admin/categorias"]' class="submenu-link">Categorias</a></li>
        </ul>
      </li>
      <ng-container *ngIf="isAuthenticated | async;else notAuthenticated">
        <li (click)="onSubmenuClicked($event)" class="nav-list-item">
          <a class="nav-list-link">{{ email | async }}</a>
          <ul class="submenu">
            <li class="submenu-item">
              <a [routerLink]='["/solicitudes"]' title="Solicitudes" class="submenu-link"><i class="fa"></i>&nbsp;Solicitudes</a>
            </li>
            <li class="submenu-item">
              <a [routerLink]='["/rentas"]' title="Solicitudes" class="submenu-link"><i class="fa"></i>&nbsp;Rentas</a>
            </li>
            <li class="submenu-item">
              <a [routerLink]='["/mensajes"]' title="Mensajes" class="submenu-link"><i class="pi pi-comments"></i>&nbsp;Mensajes</a>
            </li>
            <li class="submenu-item">
              <a [routerLink]='["/propietario/productos"]' title="Tus articulos" class="submenu-link"><i class="pi pi-palette"></i>&nbsp;Tus art&iacute;culos</a>
            </li>
            <li class="submenu-item">
              <a [routerLink]='["/perfil"]' title="Perfil" class="submenu-link"><i class="pi pi-user"></i>&nbsp;Perfil</a>
            </li>
            <li class="submenu-item">
              <a [routerLink]='["/authentication/logout"]' [state]='{ local: true }' class="submenu-link" title="Logout"><i class="pi pi-sign-out"></i>&nbsp;Salir</a>
            </li>
          </ul>
        </li>
      </ng-container>
      <ng-template #notAuthenticated>
        <li class="nav-list-item">
          <a [routerLink]='["/authentication/register"]' class="nav-list-link">Crear cuenta</a>
        </li>
        <li class="nav-list-item">
          <a [routerLink]='["/authentication/login"]' class="nav-list-link">Entrar</a>
        </li>
      </ng-template>
    </ul>
  </nav>

  <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">RentasGT</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <app-login-menu></app-login-menu>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/todo']">Todo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/api" target="_blank">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>-->
</header>
