<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rentasguatemala" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rentas Guatemala</name>
    <description>
        Aplicacion de rentas
    </description>
    <author email="contacto@rentasguatemala.com" href="https://rentasguatemala.com">
        Rentas Guatemala
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
      <variable name="URL_SCHEME" value="rentasgt" />
      <variable name="ANDROID_SCHEME" value=" " />
      <variable name="ANDROID_HOST" value=" " />
      <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>

    <preference name="Scheme" value="https" />
    <preference name="MixedContentMode" value="2" />
    <preference name="StatusBarBackgroundColor" value="#56acf2" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
        <splash src="res/android/splash.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
