
<section id="home-container" class="m-0">
  <div class="container pt-5">
    <header class="d-flex align-items-center">
      <h1>
        RentasGt
      </h1>
      <nav class="d-flex flex-fill justify-content-end align-items-center">
        <button [routerLink]='["/authentication/login"]' pButton label="Ingresar" class="p-button-rounded p-button-raised p-button-sm"></button>
      </nav>
    </header>

    <div class="row" style="height: 75vh">
      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center" style="gap: 20px">

        <p class="primary-text">Encuentra lo que necesitas cerca de ti</p>
        <p class="secondary-text">F&aacute;cil, r&aacute;pido y seguro</p>

      </div>
      <div class="col-12 col-lg-6 d-flex flex-column justify-content-lg-center align-items-center" style="gap: 20px">
        <div class="search d-flex align-items-center w-100">
          <input [(ngModel)]="serchText" class="search_input flex-fill" type="text" placeholder="¿Qu&eacute; est&aacute;s buscando?">
          <button [routerLink]="['/articulos', {s: serchText }]" class="search-btn"><img src="assets/search.png" alt=""></button>
        </div>

        <button [routerLink]="['/articulos']" pButton label="Explorar" icon="pi pi-search" class="p-button-raised p-button-rounded p-button-sm">

        </button>

      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <span class="p-0 m-0 text-white">¿No tienes una cuenta?</span>
        <a [routerLink]="['/authentication/register']" class="btn btn-link font-weight-bold m-0 p-0">Reg&iacute;strate</a>
      </div>
    </div>
  </div>
</section>
